<template name="postSubmit">
  <form class="main">
    <div class="form-group">
      <label for="url">URL</label>
      <input type="text" class="form-control" id="url" value="" placeholder="Your URL">
    </div>

    <div class="form-group">
      <label class="control-label" for="title">Title</label>
      <input type="text" class="form-control" id="title" value="" placeholder="Name yor post">
    </div>

    <div class="form-group">
      <label class="control-label" for="message">Message</label>
      <input type="text" class="form-control" id="message" value="">
    </div>

    <input type="submit" value="Submit" class="btn btn-primary">
  </form>
</template>
